[core]
	excludesfile = /Users/matt/.gitignore_global
	autoclrf = input
	safeclrf = true

[github]
  user = mattikus
  token = ${GITHUB_TOKEN}

[user]
  email = matt@mattikus.com
  name = Matt Kemp

[color]
  ui = auto

[alias]
  st = status
  ci = commit
  co = checkout
  nst = !PAGER=cat git diff --name-status
  graph = log --oneline --graph

[branch]
  autosetupmerge = always

[help]
  autocorrect = 1

[push]
  default = tracking

[mergetool "kdiff3"]
  cmd =
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

# vim: set ft=gitconfig:
